.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rebeccapurple;
    width: fit-content;
    height: fit-content;
    border: 1px solid blue;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
}
.register-block{
    width: 100%;
    height: 5rem;
    text-align: center;
    color: rebeccapurple;
    background-color: aliceblue;
}
input{
    padding: 0.6rem;
    margin-bottom: 1rem;
}
button{
    cursor: pointer;
    padding: 0.7rem 0.8rem;
    margin-bottom: 2rem;
}